.nav {
    margin: 2rem 0;
}
.nav ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}

.nav_link {
    text-decoration: none;
  text-transform: capitalize;
  font-size: 1.3rem;
  color: #f97316;
  font-weight: bold;
}
