.menus_container {
    width: 80%;
    margin: auto;
    margin-bottom: 1rem;
}

.menus {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

@media (min-width:720px){
    .menus{
        gap:3rem
    }
}