.filters_container {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;

  margin: 3rem 0;
}

.filter {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.filter input, .filter label{
    cursor: pointer;
}